body {
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web', serif;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

#info {
  z-index: 1000;
  position: absolute;
  width: 320px;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 30px 20px;
  background: #2b2b2b;
  color: white;
  overflow-y: auto;
}

#info a {
  color: lightgray;
  text-decoration: none;
}

#info a:hover {
  color: white;
  opacity: 0.8;
}

#title {
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  margin-bottom: 25px;
}

#title span {
  font-size: 14px;
  float: right;
  margin-left: 10px;
}

#desc {
  text-align: center;
  color: lightgray;
  font-size: medium;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

#collision-count {
  margin: 0;
  text-align: center;
  color: orange;
  font-size: 40px;
}

.body-text {
  font-size: 13px;
  line-height: 1.5;
  color: lightgray;
  margin-top: 30px;
}

.body-text p {
  margin-bottom: 15px;
}
#legend {
    position: absolute;
    bottom: 30px;
    right: 30px;
    background: #2b2b2b;
    padding: 15px 20px;
    color: white;
    border-radius: 5px;
    font-family: 'Titillium Web', serif;
    z-index: 1000;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.legend-title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 12px;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.legend-circle {
    background-color: #ff7e67;
    border: 0.5px solid #ffffff;
    opacity: 0.7;
    border-radius: 50%;
    margin-right: 15px;
}

.legend-item span {
    font-size: 13px;
    color: lightgray;
}
